In [2]:
import pandas as pd 
from datetime import datetime
import seaborn as sns

In [17]:
import warnings
warnings.filterwarnings('ignore')

In [22]:
def side_by_side(*objs, **kwds):
    from pandas.io.formats.printing import adjoin
    space = kwds.get('space', 4)
    reprs = [repr(obj).split('\n') for obj in objs]
    print (adjoin(space, *reprs))
    print()
    return

### Loading Data

In [13]:
respDF = pd.read_csv("ChartEvents_Features/neonates_respiratory_rate.csv")
heartRateDF = pd.read_csv("ChartEvents_Features/neonates_heart_rate.csv")
sao2DF = pd.read_csv("ChartEvents_Features/neonates_sao2.csv")
hr_alarm_highDF = pd.read_csv("ChartEvents_Features/neonates_hr_alarm_high.csv")
hr_alarm_lowDF = pd.read_csv("ChartEvents_Features/neonates_hr_alarm_low.csv")
sao2_alarm_highDF = pd.read_csv("ChartEvents_Features/neonates_sao2_alarm_high.csv")
sao2_alarm_lowDF = pd.read_csv("ChartEvents_Features/neonates_sao2_alarm_low.csv")
temperature = pd.read_csv("ChartEvents_Features/neonates_temperature.csv") 
skin_temperature =  pd.read_csv("ChartEvents_Features/neonates_skin_temperature.csv") 
bp_cuff_diastolic = pd.read_csv("ChartEvents_Features/neonates_bp_cuff_diastolic.csv") 
bp_cuff_mean = pd.read_csv("ChartEvents_Features/neonates_bp_cuff_mean.csv") 
bp_cuff_systolic = pd.read_csv("ChartEvents_Features/neonates_bp_cuff_systolic.csv") 
total_fluids = pd.read_csv("ChartEvents_Features/neonates_total_fluids.csv") 
glucometer = pd.read_csv("ChartEvents_Features/neonates_glucometer.csv")

In [5]:
heartRateDF = pd.read_csv("ChartEvents_Features/neonates_heart_rate.csv")

In [6]:
bilirubin_direct = pd.read_csv("LabEvents_Features/neonates_bilirubin_direct.csv") 
bilirubin_total = pd.read_csv("LabEvents_Features/neonates_bilirubin_total.csv") 
bilirubin_indirect = pd.read_csv("LabEvents_Features/neonates_bilirubin_indirect.csv")

In [14]:
basosDF = pd.read_csv("ChartEvents_Features/neonates_basos.csv")
eosinophils = pd.read_csv("ChartEvents_Features/neonates_eosinophils.csv")
platelet = pd.read_csv("ChartEvents_Features/neonates_platelet.csv")
bands =  pd.read_csv("ChartEvents_Features/neonates_bands.csv")
lymphs = pd.read_csv("ChartEvents_Features/neonates_lymphs.csv")
monos = pd.read_csv("ChartEvents_Features/neonates_monos.csv") 
neuts = pd.read_csv("ChartEvents_Features/neonates_neuts.csv")

### Exploring Data

In [3]:
master_neonates = pd.read_csv("neonates_with_all_features.csv")

In [4]:
master_neonates.head()

,subject_id,HADM_ID,ADMITTIME,DISCHTIME,Dead,HeartRate,RespRate,SaO2,HRAlarmHigh,HRAlarmLow,...,LYMPHS,MONOs,NEUTS,Color,BANDS,Platelet,BirthWeight,BilirubinTotal,BilirubinDirect,BilirubinIndirect
0,27,134931,2191-11-30 22:16:00,2191-12-03 14:45:00,0,True,True,True,False,False,...,False,False,False,True,False,False,False,True,True,True
1,39,106266,2114-11-29 21:04:00,2114-12-09 15:10:00,0,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,358,110872,2168-10-24 23:48:00,2168-10-29 03:23:00,0,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,363,196503,2176-03-01 15:26:00,2176-03-03 14:04:00,0,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
4,50,132761,2112-06-23 19:40:00,2112-06-26 10:15:00,0,True,True,True,False,False,...,False,False,False,True,False,True,False,True,True,True

In [5]:
master_neonates["HADM_ID"].nunique()

8110

In [6]:
admissions = master_neonates

In [12]:
## All features 
master_neonates = admissions.loc[(admissions.HeartRate==True) & (admissions.RespRate==True) & (admissions.SaO2==True) 
               & (admissions.HRAlarmHigh==True) & (admissions.HRAlarmLow==True) & (admissions.SaO2AlarmHigh==True)
               & (admissions.SaO2AlarmLow==True) & (admissions.BPCuffDiastolic==True) & (admissions.BPCuffMean==True)
               & (admissions.BPCuffSystolic==True) & (admissions.SkinTemp==True) & (admissions.Temperature==True)
               & (admissions.HeadCirc==True) & (admissions.Glucometer==True)
               & (admissions.Eosinophils==True)
               & (admissions.LYMPHS==True) & (admissions.MONOs==True) & (admissions.NEUTS==True)
               & (admissions.BANDS==True) & (admissions.Platelet==True)
               & (admissions.BirthWeight==True)
               ]
master_neonates["HADM_ID"].nunique()

3299

In [14]:
## All features 
new_masters = admissions.loc[(admissions.HeartRate==True) & (admissions.RespRate==True) & (admissions.SaO2==True) 
               & (admissions.HRAlarmHigh==True) & (admissions.HRAlarmLow==True) & (admissions.SaO2AlarmHigh==True)
               & (admissions.SaO2AlarmLow==True) & (admissions.BPCuffDiastolic==True) & (admissions.BPCuffMean==True)
               & (admissions.BPCuffSystolic==True) & (admissions.SkinTemp==True) & (admissions.Temperature==True)
               & (admissions.totalFluidsCCKg==True) & (admissions.HeadCirc==True) & (admissions.Glucometer==True)
               & (admissions.GlucoseMonitor==True) & (admissions.Eosinophils==True)
               & (admissions.LYMPHS==True) & (admissions.MONOs==True) & (admissions.NEUTS==True)
               & (admissions.Color==True) & (admissions.BANDS==True) & (admissions.Platelet==True)
               & (admissions.BirthWeight==True)
               ] 
# & (admissions.BilirubinTotal==True) & (admissions.BilirubinDirect==True) & (admissions.BilirubinIndirect==True)

In [15]:
master_neonates["HADM_ID"].nunique()

3299

In [24]:
master_neonates.columns

Index(['subject_id', 'HADM_ID', 'ADMITTIME', 'DISCHTIME', 'Dead', 'HeartRate',
       'RespRate', 'SaO2', 'HRAlarmHigh', 'HRAlarmLow', 'SaO2AlarmHigh',
       'SaO2AlarmLow', 'BPCuffDiastolic', 'BPCuffMean', 'BPCuffSystolic',
       'SkinTemp', 'Temperature', 'totalFluidsCCKg', 'HeadCirc', 'Glucometer',
       'GlucoseMonitor', 'BASOs', 'Eosinophils', 'LYMPHS', 'MONOs', 'NEUTS',
       'Color', 'BANDS', 'Platelet', 'BirthWeight', 'BilirubinTotal',
       'BilirubinDirect', 'BilirubinIndirect'],
      dtype='object')

In [12]:
master_neonates['subject_id'].nunique()

3173

In [16]:
master_neonates.drop(['HeartRate',
       'RespRate', 'SaO2', 'HRAlarmHigh', 'HRAlarmLow', 'SaO2AlarmHigh',
       'SaO2AlarmLow', 'BPCuffDiastolic', 'BPCuffMean', 'BPCuffSystolic',
       'SkinTemp', 'Temperature', 'totalFluidsCCKg', 'HeadCirc', 'Glucometer',
       'GlucoseMonitor', 'BASOs', 'Eosinophils', 'LYMPHS', 'MONOs', 'NEUTS',
       'Color', 'BANDS', 'Platelet', 'BirthWeight', 'BilirubinTotal',
       'BilirubinDirect', 'BilirubinIndirect'], axis=1, inplace=True)

C:\Users\Firuz\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [ ]:
new_masters.drop(['HeartRate',
       'RespRate', 'SaO2', 'HRAlarmHigh', 'HRAlarmLow', 'SaO2AlarmHigh',
       'SaO2AlarmLow', 'BPCuffDiastolic', 'BPCuffMean', 'BPCuffSystolic',
       'SkinTemp', 'Temperature', 'totalFluidsCCKg', 'HeadCirc', 'Glucometer',
       'GlucoseMonitor', 'BASOs', 'Eosinophils', 'LYMPHS', 'MONOs', 'NEUTS',
       'Color', 'BANDS', 'Platelet', 'BirthWeight', 'BilirubinTotal',
       'BilirubinDirect', 'BilirubinIndirect'], axis=1, inplace=True)

In [28]:
master_neonates.drop([ 'subject_id', 'Dead'], axis=1, inplace=True)

In [20]:
new_masters.drop([ 'subject_id', 'Dead'], axis=1, inplace=True)

In [18]:
master_neonates.head()

    subject_id  HADM_ID            ADMITTIME            DISCHTIME  Dead
1           39   106266  2114-11-29 21:04:00  2114-12-09 15:10:00     0
2          358   110872  2168-10-24 23:48:00  2168-10-29 03:23:00     0
10          66   104518  2188-08-25 00:14:00  2188-09-04 10:30:00     0
11          69   190201  2129-03-21 15:33:00  2129-04-09 13:30:00     0
13          72   156857  2163-09-22 23:52:00  2163-09-29 11:40:00     0

In [19]:
master_neonates.shape

(3299, 5)

In [24]:
new_masters.head()

    HADM_ID            ADMITTIME            DISCHTIME
1    106266  2114-11-29 21:04:00  2114-12-09 15:10:00
10   104518  2188-08-25 00:14:00  2188-09-04 10:30:00
11   190201  2129-03-21 15:33:00  2129-04-09 13:30:00
13   156857  2163-09-22 23:52:00  2163-09-29 11:40:00
16   190659  2191-02-25 20:30:00  2191-04-25 15:18:00

### 3.1 Heart Rate

In [31]:
heartRateDF.head()

,subject_id,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,CGID,VALUENUM,LABEL
0,10824,143406,229258.0,211,2126-07-01 06:00:00,15762.0,145.0,Heart Rate
1,10824,143406,229258.0,211,2126-07-01 07:00:00,18307.0,136.0,Heart Rate
2,10824,143406,229258.0,211,2126-07-03 16:00:00,19812.0,147.0,Heart Rate
3,10824,143406,229258.0,211,2126-06-18 16:00:00,16015.0,153.0,Heart Rate
4,10824,143406,229258.0,211,2126-06-18 17:00:00,16015.0,151.0,Heart Rate

In [20]:
heartRateDF["HADM_ID"].nunique()

7673

In [23]:
side_by_side(heartRateDF.isnull().sum(), heartRateDF.count())

subject_id       0    subject_id    1696195
HADM_ID          0    HADM_ID       1696195
ICUSTAY_ID    2950    ICUSTAY_ID    1693245
ITEMID           0    ITEMID        1696195
CHARTTIME        0    CHARTTIME     1696195
CGID             0    CGID          1696195
VALUENUM       507    VALUENUM      1695688
LABEL            0    LABEL         1696195
dtype: int64          dtype: int64

In [24]:
heartRateDF = pd.merge(heartRateDF, master_neonates, on='HADM_ID', how='inner')

In [25]:
heartRateDF

,subject_id_x,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,CGID,VALUENUM,LABEL,subject_id_y,ADMITTIME,DISCHTIME,Dead
0,10824,143406,229258.0,211,2126-07-01 06:00:00,15762.0,145.0,Heart Rate,10824,2126-06-12 22:08:00,2126-07-15 13:40:00,0
1,10824,143406,229258.0,211,2126-07-01 07:00:00,18307.0,136.0,Heart Rate,10824,2126-06-12 22:08:00,2126-07-15 13:40:00,0
2,10824,143406,229258.0,211,2126-07-03 16:00:00,19812.0,147.0,Heart Rate,10824,2126-06-12 22:08:00,2126-07-15 13:40:00,0
3,10824,143406,229258.0,211,2126-06-18 16:00:00,16015.0,153.0,Heart Rate,10824,2126-06-12 22:08:00,2126-07-15 13:40:00,0
4,10824,143406,229258.0,211,2126-06-18 17:00:00,16015.0,151.0,Heart Rate,10824,2126-06-12 22:08:00,2126-07-15 13:40:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1542777,10740,148725,252414.0,211,2169-12-19 20:30:00,20484.0,154.0,Heart Rate,10740,2169-12-13 17:11:00,2169-12-25 16:14:00,0
1542778,10740,148725,252414.0,211,2169-12-22 14:00:00,14712.0,144.0,Heart Rate,10740,2169-12-13 17:11:00,2169-12-25 16:14:00,0
1542779,10740,148725,252414.0,211,2169-12-22 15:00:00,14712.0,136.0,Heart Rate,10740,2169-12-13 17:11:00,2169-12-25 16:14:00,0
1542780,10740,148725,252414.0,211,2169-12-22 16:00:00,14712.0,145.0,Heart Rate,10740,2169-12-13 17:11:00,2169-12-25 16:14:00,0
1542781,10740,148725,252414.0,211,2169-12-22 17:00:00,14712.0,138.0,Heart Rate,10740,2169-12-13 17:11:00,2169-12-25 16:14:00,0

In [26]:
heartRateDF.columns

Index(['subject_id_x', 'HADM_ID', 'ICUSTAY_ID', 'ITEMID', 'CHARTTIME', 'CGID',
       'VALUENUM', 'LABEL', 'subject_id_y', 'ADMITTIME', 'DISCHTIME', 'Dead'],
      dtype='object')

In [27]:
heartRateDF.drop(['LABEL', 'ICUSTAY_ID', 'ITEMID', 'CGID'], axis=1, inplace=True)

In [28]:
heartRateDF.head()

,subject_id_x,HADM_ID,CHARTTIME,VALUENUM,subject_id_y,ADMITTIME,DISCHTIME,Dead
0,10824,143406,2126-07-01 06:00:00,145.0,10824,2126-06-12 22:08:00,2126-07-15 13:40:00,0
1,10824,143406,2126-07-01 07:00:00,136.0,10824,2126-06-12 22:08:00,2126-07-15 13:40:00,0
2,10824,143406,2126-07-03 16:00:00,147.0,10824,2126-06-12 22:08:00,2126-07-15 13:40:00,0
3,10824,143406,2126-06-18 16:00:00,153.0,10824,2126-06-12 22:08:00,2126-07-15 13:40:00,0
4,10824,143406,2126-06-18 17:00:00,151.0,10824,2126-06-12 22:08:00,2126-07-15 13:40:00,0

In [29]:
heartRateDF["HADM_ID"].nunique()

3299

In [31]:
heartRateDF.to_csv("Data_3173/heart_rate.csv", index=False)

## 3.2 Respiratory Rate

In [32]:
respDF = pd.merge(respDF, master_neonates, on='HADM_ID', how='inner') 

# Removing extra columns 
respDF.drop(['LABEL', 'ICUSTAY_ID', 'ITEMID', 'CGID'], axis=1, inplace=True)

# Save into file 
respDF.to_csv("Data_3173/resp_rate.csv", index=False)

respDF["HADM_ID"].nunique()

3299

In [33]:
respDF.head()

,subject_id_x,HADM_ID,CHARTTIME,VALUENUM,subject_id_y,ADMITTIME,DISCHTIME,Dead
0,1291,141087,2100-07-04 09:30:00,60.0,1291,2100-07-04 10:18:00,2100-07-23 15:30:00,0
1,1291,141087,2100-07-04 10:00:00,49.0,1291,2100-07-04 10:18:00,2100-07-23 15:30:00,0
2,1291,141087,2100-07-04 11:00:00,39.0,1291,2100-07-04 10:18:00,2100-07-23 15:30:00,0
3,1291,141087,2100-07-04 12:00:00,36.0,1291,2100-07-04 10:18:00,2100-07-23 15:30:00,0
4,1291,141087,2100-07-04 13:00:00,44.0,1291,2100-07-04 10:18:00,2100-07-23 15:30:00,0

## 3.3 SaO2

In [34]:
sao2DF = pd.merge(sao2DF, master_neonates, on='HADM_ID', how='inner') 

# Removing extra columns 
sao2DF.drop(['LABEL', 'ICUSTAY_ID', 'ITEMID', 'CGID'], axis=1, inplace=True)

# Save into file 
sao2DF.to_csv("Data_3173/sao2.csv", index=False)

sao2DF["HADM_ID"].nunique()

3299

In [35]:
sao2DF.head()

,subject_id_x,HADM_ID,CHARTTIME,VALUENUM,subject_id_y,ADMITTIME,DISCHTIME,Dead
0,10824,143406,2126-07-01 06:00:00,95.0,10824,2126-06-12 22:08:00,2126-07-15 13:40:00,0
1,10824,143406,2126-07-01 07:00:00,97.0,10824,2126-06-12 22:08:00,2126-07-15 13:40:00,0
2,10824,143406,2126-07-03 16:00:00,96.0,10824,2126-06-12 22:08:00,2126-07-15 13:40:00,0
3,10824,143406,2126-06-18 16:00:00,97.0,10824,2126-06-12 22:08:00,2126-07-15 13:40:00,0
4,10824,143406,2126-06-18 17:00:00,96.0,10824,2126-06-12 22:08:00,2126-07-15 13:40:00,0

## 3.4 HR Alarm High

In [36]:
hr_alarm_highDF = pd.merge(hr_alarm_highDF, master_neonates, on='HADM_ID', how='inner') 

# Removing extra columns 
hr_alarm_highDF.drop(['LABEL', 'ICUSTAY_ID', 'ITEMID', 'CGID'], axis=1, inplace=True)

# Save into file 
hr_alarm_highDF.to_csv("Data_3173/hr_alarm_high.csv", index=False)

hr_alarm_highDF["HADM_ID"].nunique()

3299

## 3.5 HR Alarm Low

In [37]:
hr_alarm_lowDF = pd.merge(hr_alarm_lowDF, master_neonates, on='HADM_ID', how='inner') 

# Removing extra columns 
hr_alarm_lowDF.drop(['LABEL', 'ICUSTAY_ID', 'ITEMID', 'CGID'], axis=1, inplace=True)

# Save into file 
hr_alarm_lowDF.to_csv("Data_3173/hr_alarm_low.csv", index=False)

hr_alarm_lowDF["HADM_ID"].nunique()

3299

## 3.6 SaO2 Alarm High

In [38]:
sao2_alarm_highDF = pd.merge(sao2_alarm_highDF, master_neonates, on='HADM_ID', how='inner') 

# Removing extra columns 
sao2_alarm_highDF.drop(['LABEL', 'ICUSTAY_ID', 'ITEMID', 'CGID'], axis=1, inplace=True)

# Save into file 
sao2_alarm_highDF.to_csv("Data_3173/sao2_alarm_high.csv", index=False)

sao2_alarm_highDF["HADM_ID"].nunique()

3299

## 3.7 SaO2 Alarm Low

In [39]:
sao2_alarm_lowDF = pd.merge(sao2_alarm_lowDF, master_neonates, on='HADM_ID', how='inner') 

# Removing extra columns 
sao2_alarm_lowDF.drop(['LABEL', 'ICUSTAY_ID', 'ITEMID', 'CGID'], axis=1, inplace=True)

# Save into file 
sao2_alarm_lowDF.to_csv("Data_3173/sao2_alarm_low.csv", index=False)

sao2_alarm_lowDF["HADM_ID"].nunique()

3299

## 3.8 Temperature

In [40]:
temperature = pd.merge(temperature, master_neonates, on='HADM_ID', how='inner') 

# Removing extra columns 
temperature.drop(['LABEL', 'ICUSTAY_ID', 'ITEMID', 'CGID'], axis=1, inplace=True)

# Save into file 
temperature.to_csv("Data_3173/temperature.csv", index=False)

temperature["HADM_ID"].nunique()

3299

## 3.9 Skin Temperature

In [41]:
skin_temperature = pd.merge(skin_temperature, master_neonates, on='HADM_ID', how='inner') 

# Removing extra columns 
skin_temperature.drop(['LABEL', 'ICUSTAY_ID', 'ITEMID', 'CGID'], axis=1, inplace=True)

# Save into file 
skin_temperature.to_csv("Data_3173/skin_temperature.csv", index=False)

skin_temperature["HADM_ID"].nunique()

3299

## 3.10 BP Cuff Diastolic

In [42]:
bp_cuff_diastolic = pd.merge(bp_cuff_diastolic, master_neonates, on='HADM_ID', how='inner') 

# Removing extra columns 
bp_cuff_diastolic.drop(['LABEL', 'ICUSTAY_ID', 'ITEMID', 'CGID'], axis=1, inplace=True)

# Save into file 
bp_cuff_diastolic.to_csv("Data_3173/bp_cuff_diastolic.csv", index=False)

bp_cuff_diastolic["HADM_ID"].nunique()

3299

## 3.11 BP Cuff Systolic

In [43]:
bp_cuff_systolic = pd.merge(bp_cuff_systolic, master_neonates, on='HADM_ID', how='inner') 

# Removing extra columns 
bp_cuff_systolic.drop(['LABEL', 'ICUSTAY_ID', 'ITEMID', 'CGID'], axis=1, inplace=True)

# Save into file 
bp_cuff_systolic.to_csv("Data_3173/bp_cuff_systolic.csv", index=False)

bp_cuff_systolic["HADM_ID"].nunique()

3299

## 3.12 BP Cuff Mean

In [44]:
bp_cuff_mean = pd.merge(bp_cuff_mean, master_neonates, on='HADM_ID', how='inner') 

# Removing extra columns 
bp_cuff_mean.drop(['LABEL', 'ICUSTAY_ID', 'ITEMID', 'CGID'], axis=1, inplace=True)

# Save into file 
bp_cuff_mean.to_csv("Data_3173/bp_cuff_mean.csv", index=False)

bp_cuff_mean["HADM_ID"].nunique()

3299

## 3.13 Glucometer

In [45]:
glucometer = pd.merge(glucometer, master_neonates, on='HADM_ID', how='inner') 

# Removing extra columns 
glucometer.drop(['LABEL', 'ICUSTAY_ID', 'ITEMID', 'CGID'], axis=1, inplace=True)

# Save into file 
glucometer.to_csv("Data_3173/glucometer.csv", index=False)

glucometer["HADM_ID"].nunique()

3299

# Single Value Data

In [46]:
eosinophils = pd.read_csv("ChartEvents_Features/neonates_eosinophils.csv")
platelet = pd.read_csv("ChartEvents_Features/neonates_platelet.csv")
bands =  pd.read_csv("ChartEvents_Features/neonates_bands.csv")
lymphs = pd.read_csv("ChartEvents_Features/neonates_lymphs.csv")
monos = pd.read_csv("ChartEvents_Features/neonates_monos.csv") 
neuts = pd.read_csv("ChartEvents_Features/neonates_neuts.csv")

## 4.1 BANDs

In [47]:
bands = pd.merge(bands, master_neonates, on='HADM_ID', how='inner') 

# Removing extra columns 
bands.drop(['LABEL', 'ICUSTAY_ID', 'ITEMID', 'CGID'], axis=1, inplace=True)

# Save into file 
bands.to_csv("Data_3173_SV/bands.csv", index=False)

bands["HADM_ID"].nunique()

3299

## 4.2 Eosinophils

In [48]:
eosinophils = pd.merge(eosinophils, master_neonates, on='HADM_ID', how='inner') 

# Removing extra columns 
eosinophils.drop(['LABEL', 'ICUSTAY_ID', 'ITEMID', 'CGID'], axis=1, inplace=True)

# Save into file 
eosinophils.to_csv("Data_3173_SV/eosinophils.csv", index=False)

eosinophils["HADM_ID"].nunique()

3299

## 4.3 Lymphs

In [49]:
lymphs = pd.merge(lymphs, master_neonates, on='HADM_ID', how='inner') 

# Removing extra columns 
lymphs.drop(['LABEL', 'ICUSTAY_ID', 'ITEMID', 'CGID'], axis=1, inplace=True)

# Save into file 
lymphs.to_csv("Data_3173_SV/lymphs.csv", index=False)

lymphs["HADM_ID"].nunique()

3299

## 4.4  MONOs

In [50]:
monos = pd.merge(monos, master_neonates, on='HADM_ID', how='inner') 

# Removing extra columns 
monos.drop(['LABEL', 'ICUSTAY_ID', 'ITEMID', 'CGID'], axis=1, inplace=True)

# Save into file 
monos.to_csv("Data_3173_SV/monos.csv", index=False)

monos["HADM_ID"].nunique()

3299

## 4.5 NEUTs

In [51]:
neuts = pd.merge(neuts, master_neonates, on='HADM_ID', how='inner') 

# Removing extra columns 
neuts.drop(['LABEL', 'ICUSTAY_ID', 'ITEMID', 'CGID'], axis=1, inplace=True)

# Save into file 
neuts.to_csv("Data_3173_SV/neuts.csv", index=False)

neuts["HADM_ID"].nunique()

3299

## 4.6 Platelet

In [52]:
platelet = pd.merge(platelet, master_neonates, on='HADM_ID', how='inner') 

# Removing extra columns 
platelet.drop(['LABEL', 'ICUSTAY_ID', 'ITEMID', 'CGID'], axis=1, inplace=True)

# Save into file 
platelet.to_csv("Data_3173_SV/platelet.csv", index=False)

platelet["HADM_ID"].nunique()

3299

## Other Single Value Features

In [53]:
birth_weight = pd.read_csv("ChartEvents_Features/neonates_birth_weight.csv")  
head_circ = pd.read_csv("ChartEvents_Features/neonates_head_circ.csv")

## 5.1 Birth Weight

In [54]:
birth_weight = pd.merge(birth_weight, master_neonates, on='HADM_ID', how='inner') 

# Removing extra columns 
birth_weight.drop(['LABEL', 'ICUSTAY_ID', 'ITEMID', 'CGID'], axis=1, inplace=True)

# Save into file 
birth_weight.to_csv("Data_3173_SV/birth_weight.csv", index=False)

birth_weight["HADM_ID"].nunique()

3299

## 5.2 Head Circ

In [55]:
head_circ = pd.merge(head_circ, master_neonates, on='HADM_ID', how='inner') 

# Removing extra columns 
head_circ.drop(['LABEL', 'ICUSTAY_ID', 'ITEMID', 'CGID'], axis=1, inplace=True)

# Save into file 
head_circ.to_csv("Data_3173_SV/head_circ.csv", index=False)

head_circ["HADM_ID"].nunique()

3299

In [56]:
head_circ.head()

,HADM_ID,CHARTTIME,VALUENUM,subject_id_x,subject_id_y,ADMITTIME,DISCHTIME,Dead
0,184167,2103-06-28 10:00:00,27.5,10,10,2103-06-28 11:36:00,2103-07-06 12:10:00,0
1,106266,2114-11-29 22:00:00,34.0,39,39,2114-11-29 21:04:00,2114-12-09 15:10:00,0
2,104518,2188-08-24 23:30:00,31.5,66,66,2188-08-25 00:14:00,2188-09-04 10:30:00,0
3,190201,2129-03-21 15:30:00,31.5,69,69,2129-03-21 15:33:00,2129-04-09 13:30:00,0
4,156857,2163-09-23 00:00:00,34.0,72,72,2163-09-22 23:52:00,2163-09-29 11:40:00,0

# Single Values from Patients and Admissions

In [57]:
master_neonates.head()

    subject_id  HADM_ID            ADMITTIME            DISCHTIME  Dead
1           39   106266  2114-11-29 21:04:00  2114-12-09 15:10:00     0
2          358   110872  2168-10-24 23:48:00  2168-10-29 03:23:00     0
10          66   104518  2188-08-25 00:14:00  2188-09-04 10:30:00     0
11          69   190201  2129-03-21 15:33:00  2129-04-09 13:30:00     0
13          72   156857  2163-09-22 23:52:00  2163-09-29 11:40:00     0

In [58]:
neonates_admissions = pd.read_csv("NonFilterData/neonates_admissions.csv")

In [59]:
neonates_admissions.head(2)

,subject_id,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_LOCATION,DISCHARGE_LOCATION,RELIGION,ETHNICITY,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,27,134931,2191-11-30 22:16:00,2191-12-03 14:45:00,NaN,PHYS REFERRAL/NORMAL DELI,HOME,CATHOLIC,WHITE,0,1
1,39,106266,2114-11-29 21:04:00,2114-12-09 15:10:00,NaN,PHYS REFERRAL/NORMAL DELI,HOME,NOT SPECIFIED,UNKNOWN/NOT SPECIFIED,0,1

In [60]:
neonates_admissions.columns

Index(['subject_id', 'HADM_ID', 'ADMITTIME', 'DISCHTIME', 'DEATHTIME',
       'ADMISSION_LOCATION', 'DISCHARGE_LOCATION', 'RELIGION', 'ETHNICITY',
       'HOSPITAL_EXPIRE_FLAG', 'HAS_CHARTEVENTS_DATA'],
      dtype='object')

In [61]:
neonates_admissions.drop(['subject_id', 'ADMITTIME', 'DISCHTIME', 'DEATHTIME',
       'ADMISSION_LOCATION', 'DISCHARGE_LOCATION', 'RELIGION',
    'HAS_CHARTEVENTS_DATA', 'HOSPITAL_EXPIRE_FLAG'], axis=1, inplace=True)

In [62]:
neonates_admissions.head()

   HADM_ID               ETHNICITY
0   134931                   WHITE
1   106266   UNKNOWN/NOT SPECIFIED
2   110872                   WHITE
3   196503  BLACK/AFRICAN AMERICAN
4   132761                   WHITE

In [63]:
neonates_admissions.rename(columns={'Dead': 'EXPIRE_FLAG'}, inplace=True)

In [64]:
neonates_admissions = pd.merge(master_neonates, neonates_admissions, on='HADM_ID', how='inner')

In [65]:
neonates_admissions.head()

,subject_id,HADM_ID,ADMITTIME,DISCHTIME,Dead,ETHNICITY
0,39,106266,2114-11-29 21:04:00,2114-12-09 15:10:00,0,UNKNOWN/NOT SPECIFIED
1,358,110872,2168-10-24 23:48:00,2168-10-29 03:23:00,0,WHITE
2,66,104518,2188-08-25 00:14:00,2188-09-04 10:30:00,0,WHITE
3,69,190201,2129-03-21 15:33:00,2129-04-09 13:30:00,0,WHITE
4,72,156857,2163-09-22 23:52:00,2163-09-29 11:40:00,0,BLACK/AFRICAN AMERICAN

In [67]:
neonates_admissions[neonates_admissions.Dead == 1].shape

(52, 6)

In [68]:
neonates_admissions['HADM_ID'].nunique()

3299

#### Patients Table

In [69]:
patients = pd.read_csv("NonFilterData/neonates_patients.csv")

In [70]:
patients.head()

   subject_id GENDER                  DOB  EXPIRE_FLAG
0         258      F  2124-09-19 00:00:00            0
1         260      F  2105-03-23 00:00:00            0
2         264      F  2162-11-30 00:00:00            0
3         675      F  2158-04-05 00:00:00            0
4         677      M  2195-08-12 00:00:00            0

In [71]:
patients['subject_id'].nunique()

7874

In [72]:
patients.drop(['DOB'], axis=1, inplace=True)

In [73]:
neonates_admissions = pd.merge(neonates_admissions, patients, on='subject_id', how='inner')

In [83]:
neonates_admissions.head()

,subject_id,HADM_ID,ADMITTIME,DISCHTIME,ETHNICITY,GENDER,EXPIRE_FLAG
0,39,106266,2114-11-29 21:04:00,2114-12-09 15:10:00,UNKNOWN/NOT SPECIFIED,F,0
1,358,110872,2168-10-24 23:48:00,2168-10-29 03:23:00,WHITE,F,0
2,66,104518,2188-08-25 00:14:00,2188-09-04 10:30:00,WHITE,F,0
3,69,190201,2129-03-21 15:33:00,2129-04-09 13:30:00,WHITE,F,0
4,72,156857,2163-09-22 23:52:00,2163-09-29 11:40:00,BLACK/AFRICAN AMERICAN,M,0

In [82]:
neonates_admissions[neonates_admissions['EXPIRE_FLAG']==1].shape

(54, 7)

In [77]:
neonates_admissions['subject_id'].nunique()

3299

In [84]:
neonates_admissions['HADM_ID'].nunique()

3299

In [81]:
neonates_admissions.drop(['Dead'], axis=1, inplace=True)

In [50]:
neonates_admissions.rename(columns={'EXPIRE_FLAG_y': 'EXPIRE_FLAG'}, inplace=True)

In [85]:
neonates_admissions.head()

,subject_id,HADM_ID,ADMITTIME,DISCHTIME,ETHNICITY,GENDER,EXPIRE_FLAG
0,39,106266,2114-11-29 21:04:00,2114-12-09 15:10:00,UNKNOWN/NOT SPECIFIED,F,0
1,358,110872,2168-10-24 23:48:00,2168-10-29 03:23:00,WHITE,F,0
2,66,104518,2188-08-25 00:14:00,2188-09-04 10:30:00,WHITE,F,0
3,69,190201,2129-03-21 15:33:00,2129-04-09 13:30:00,WHITE,F,0
4,72,156857,2163-09-22 23:52:00,2163-09-29 11:40:00,BLACK/AFRICAN AMERICAN,M,0

In [86]:
neonates_admissions.to_csv("neonates_admissions.csv", index=False)

## DateTimeEvent Table

In [87]:
datetimeevents = pd.read_csv("NonFilterData/neonates_datetimeevents.csv")

In [88]:
datetimeevents["HADM_ID"].nunique()

1730

In [89]:
master_neonates.columns

Index(['subject_id', 'HADM_ID', 'ADMITTIME', 'DISCHTIME', 'Dead'], dtype='object')

In [90]:
master_neonates_ids = master_neonates['HADM_ID']

In [91]:
master_neonates_ids.to_frame()

      HADM_ID
1      106266
2      110872
10     104518
11     190201
13     156857
...       ...
8101   164167
8102   154007
8103   185408
8106   118898
8107   144531

[3299 rows x 1 columns]

In [92]:
type(master_neonates_ids)

pandas.core.series.Series

In [93]:
datetimeevents = pd.merge(master_neonates_ids.to_frame(), datetimeevents, on='HADM_ID', how='inner')

In [94]:
datetimeevents["HADM_ID"].nunique()

1605

In [95]:
datetimeevents.columns

Index(['HADM_ID', 'Unnamed: 0', 'ROW_ID', 'subject_id', 'ICUSTAY_ID', 'ITEMID',
       'CHARTTIME', 'STORETIME', 'CGID', 'VALUE', 'VALUEUOM', 'WARNING',
       'ERROR', 'RESULTSTATUS', 'STOPPED'],
      dtype='object')

In [96]:
datetimeevents.drop(['Unnamed: 0', 'ROW_ID', 'ICUSTAY_ID', 'ITEMID',
        'STORETIME', 'CGID', 'VALUE', 'VALUEUOM', 'WARNING',
       'ERROR', 'RESULTSTATUS', 'STOPPED'], axis=1, inplace=True)

In [97]:
datetimeevents.head()

   HADM_ID  subject_id            CHARTTIME
0   106266          39  2114-11-29 22:00:00
1   106266          39  2114-11-29 23:00:00
2   106266          39  2114-11-30 00:00:00
3   106266          39  2114-11-30 01:00:00
4   106266          39  2114-11-30 02:00:00

In [98]:
datetimeevents.to_csv("Data_3173_Stat/datetimeevents.csv", index=False)

## Neonates_inputevents

In [99]:
neonates_inputevents = pd.read_csv("NonFilterData/neonates_inputevents.csv")

In [100]:
neonates_inputevents.head()

,subject_id,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,AMOUNT,AMOUNTUOM,CGID,ORDERID,LABEL
0,7341,NaN,NaN,2196-05-23 22:00:00,30056,60.0,ml,15023.0,7852659,Po Intake
1,7341,NaN,NaN,2196-05-24 19:00:00,30056,240.0,ml,15218.0,2860486,Po Intake
2,7341,NaN,NaN,2196-05-24 20:00:00,30056,120.0,ml,15218.0,1837386,Po Intake
3,7341,NaN,NaN,2196-05-25 08:00:00,30056,150.0,ml,18566.0,3195363,Po Intake
4,7341,NaN,NaN,2196-05-25 09:00:00,30056,240.0,ml,18566.0,5407135,Po Intake

In [101]:
neonates_inputevents['HADM_ID'].nunique()

4826

In [102]:
neonates_inputevents = pd.merge(master_neonates_ids.to_frame(), neonates_inputevents, on='HADM_ID', how='inner')

In [103]:
neonates_inputevents.head()

,HADM_ID,subject_id,ICUSTAY_ID,CHARTTIME,ITEMID,AMOUNT,AMOUNTUOM,CGID,ORDERID,LABEL
0,106266,39,249426.0,2114-11-29 21:30:00,30187,NaN,ml,16633.0,3430139,D10W
1,106266,39,249426.0,2114-11-29 22:00:00,30187,2.9,ml,16633.0,7367961,D10W
2,106266,39,249426.0,2114-11-29 23:00:00,30187,7.0,ml,16633.0,1270494,D10W
3,106266,39,249426.0,2114-11-30 00:00:00,30187,6.1,ml,15312.0,11002376,D10W
4,106266,39,249426.0,2114-11-30 01:00:00,30187,5.0,ml,15658.0,8567288,D10W

In [104]:
neonates_inputevents[neonates_inputevents['HADM_ID'].isnull()==True]

Empty DataFrame
Columns: [HADM_ID, subject_id, ICUSTAY_ID, CHARTTIME, ITEMID, AMOUNT, AMOUNTUOM, CGID, ORDERID, LABEL]
Index: []

In [105]:
neonates_inputevents['HADM_ID'].nunique()

3250

In [106]:
neonates_inputevents.columns

Index(['HADM_ID', 'subject_id', 'ICUSTAY_ID', 'CHARTTIME', 'ITEMID', 'AMOUNT',
       'AMOUNTUOM', 'CGID', 'ORDERID', 'LABEL'],
      dtype='object')

In [107]:
neonates_inputevents.drop(['ICUSTAY_ID',
       'AMOUNTUOM', 'CGID', 'ORDERID'], axis=1, inplace=True)

In [108]:
neonates_inputevents.head()

   HADM_ID  subject_id            CHARTTIME  ITEMID  AMOUNT LABEL
0   106266          39  2114-11-29 21:30:00   30187     NaN  D10W
1   106266          39  2114-11-29 22:00:00   30187     2.9  D10W
2   106266          39  2114-11-29 23:00:00   30187     7.0  D10W
3   106266          39  2114-11-30 00:00:00   30187     6.1  D10W
4   106266          39  2114-11-30 01:00:00   30187     5.0  D10W

In [109]:
neonates_inputevents.to_csv("Data_3173_Stat/neonates_inputevents.csv", index=False)

## Neonates_microbiologyevents

In [110]:
neonates_microbiologyevents = pd.read_csv("NonFilterData/neonates_microbiologyevents.csv")

In [111]:
neonates_microbiologyevents.head()

,subject_id,HADM_ID,CHARTTIME,SPEC_ITEMID,ORG_ITEMID,AB_ITEMID
0,102,195700,2196-02-27 12:30:00,70014.0,0.0,0.0
1,104,164025,2184-10-17 08:15:00,70014.0,0.0,0.0
2,50,132761,2112-06-23 21:30:00,70012.0,0.0,0.0
3,51,196010,2128-11-30 12:10:00,70014.0,0.0,0.0
4,54,138795,2191-08-10 18:00:00,70014.0,0.0,0.0

In [112]:
neonates_microbiologyevents['HADM_ID'].nunique()

6756

In [113]:
neonates_microbiologyevents = pd.merge(master_neonates_ids.to_frame(), neonates_microbiologyevents, on='HADM_ID', how='inner')

In [114]:
neonates_microbiologyevents.shape

(10352, 6)

In [115]:
neonates_microbiologyevents['HADM_ID'].nunique()

3262

In [116]:
neonates_microbiologyevents.columns

Index(['HADM_ID', 'subject_id', 'CHARTTIME', 'SPEC_ITEMID', 'ORG_ITEMID',
       'AB_ITEMID'],
      dtype='object')

In [117]:
neonates_microbiologyevents.to_csv("Data_3173_Stat/neonates_microbiologyevents.csv", index=False)

## Neonates_outputevents

In [118]:
neonates_outputevents = pd.read_csv("NonFilterData/neonates_outputevents.csv")

In [119]:
neonates_outputevents.head()

,subject_id,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,VALUE,CGID,LABEL
0,9657,179366.0,296231.0,2166-10-04 22:00:00,43175,25.0,18720,Urine .
1,9657,179366.0,296231.0,2166-10-05 02:00:00,43175,30.0,18720,Urine .
2,9657,179366.0,296231.0,2166-10-05 06:00:00,43175,15.0,18720,Urine .
3,9657,179366.0,296231.0,2166-10-06 14:00:00,43175,0.0,21570,Urine .
4,9657,179366.0,296231.0,2166-10-04 13:00:00,43175,10.0,16571,Urine .

In [120]:
neonates_outputevents.drop(['ICUSTAY_ID'], axis=1, inplace=True)

In [121]:
neonates_outputevents.head()

   subject_id   HADM_ID            CHARTTIME  ITEMID  VALUE   CGID    LABEL
0        9657  179366.0  2166-10-04 22:00:00   43175   25.0  18720  Urine .
1        9657  179366.0  2166-10-05 02:00:00   43175   30.0  18720  Urine .
2        9657  179366.0  2166-10-05 06:00:00   43175   15.0  18720  Urine .
3        9657  179366.0  2166-10-06 14:00:00   43175    0.0  21570  Urine .
4        9657  179366.0  2166-10-04 13:00:00   43175   10.0  16571  Urine .

In [122]:
neonates_outputevents = pd.merge(master_neonates_ids.to_frame(), neonates_outputevents, on='HADM_ID', how='inner')

In [123]:
neonates_outputevents['HADM_ID'].nunique()

2968

In [124]:
neonates_outputevents.to_csv("Data_3173_Stat/neonates_outputevents.csv", index=False)

## Neonates_prescriptions

In [125]:
neonates_prescriptions = pd.read_csv("NonFilterData/neonates_prescriptions.csv")

In [126]:
neonates_prescriptions.head()

,subject_id,HADM_ID,ICUSTAY_ID,STARTDATE,ENDDATE,DRUG_TYPE,DRUG,DOSE_VAL_RX
0,8,159514,NaN,2117-11-20 00:00:00,2117-11-24 00:00:00,BASE,Send 500mg Vial,1
1,8,159514,NaN,2117-11-20 00:00:00,2117-11-24 00:00:00,MAIN,NEO*IV*Gentamicin,12.5
2,8,159514,NaN,2117-11-20 00:00:00,2117-11-24 00:00:00,MAIN,NEO*IV*Ampicillin Sodium,500
3,8,159514,NaN,2117-11-20 00:00:00,2117-11-24 00:00:00,BASE,Syringe (Neonatal) *D5W*,2.4
4,2,163353,243653.0,2138-07-18 00:00:00,2138-07-20 00:00:00,MAIN,NEO*IV*Gentamicin,15.5

In [127]:
neonates_prescriptions.columns

Index(['subject_id', 'HADM_ID', 'ICUSTAY_ID', 'STARTDATE', 'ENDDATE',
       'DRUG_TYPE', 'DRUG', 'DOSE_VAL_RX'],
      dtype='object')

In [128]:
neonates_prescriptions.drop(['ICUSTAY_ID'], axis=1, inplace=True)

In [129]:
neonates_prescriptions.head(2)

,subject_id,HADM_ID,STARTDATE,ENDDATE,DRUG_TYPE,DRUG,DOSE_VAL_RX
0,8,159514,2117-11-20 00:00:00,2117-11-24 00:00:00,BASE,Send 500mg Vial,1
1,8,159514,2117-11-20 00:00:00,2117-11-24 00:00:00,MAIN,NEO*IV*Gentamicin,12.5

In [130]:
neonates_prescriptions = pd.merge(master_neonates_ids.to_frame(), neonates_prescriptions, on='HADM_ID', how='inner')

In [131]:
neonates_prescriptions['HADM_ID'].nunique()

2471

In [132]:
neonates_prescriptions.to_csv('Data_3173_Stat/neonates_prescriptions.csv', index=False)

# Lab Test

In [119]:
MAIN_DIR = "LabEvents_Features/"

bilirubin_direct = pd.read_csv(MAIN_DIR + "neonates_bilirubin_direct.csv")
bilirubin_indirect = pd.read_csv(MAIN_DIR + "neonates_bilirubin_indirect.csv")
bilirubin_total = pd.read_csv(MAIN_DIR + "neonates_bilirubin_total.csv")

### bilirubin_direct

In [120]:
bilirubin_direct.head()

,subject_id,HADM_ID,ITEMID,CHARTTIME,VALUENUM,VALUEUOM,ABNORMAL_FLAG,LABEL,FLUID
0,2,163353.0,50883,2138-07-20 06:30:00,0.3,mg/dL,0,"Bilirubin, Direct",Blood
1,7,118037.0,50883,2121-05-26 22:00:00,0.3,mg/dL,0,"Bilirubin, Direct",Blood
2,8,159514.0,50883,2117-11-22 04:30:00,0.2,mg/dL,0,"Bilirubin, Direct",Blood
3,8,159514.0,50883,2117-11-24 01:00:00,0.3,mg/dL,0,"Bilirubin, Direct",Blood
4,8,159514.0,50883,2117-11-24 11:00:00,0.2,mg/dL,0,"Bilirubin, Direct",Blood

In [121]:
bilirubin_direct.columns

Index(['subject_id', 'HADM_ID', 'ITEMID', 'CHARTTIME', 'VALUENUM', 'VALUEUOM',
       'ABNORMAL_FLAG', 'LABEL', 'FLUID'],
      dtype='object')

In [122]:
bilirubin_direct = pd.merge(master_neonates_ids.to_frame(), bilirubin_direct, on='HADM_ID', how='inner')

In [ ]:
bilirubin_direct['HADM_ID'].